%div{width: "600px"}
  #map{style: "width: 600px; height: 960px;"}

:coffee
  handler = Gmaps.build('Google')
  handler.buildMap {
    provider: {}
    internal: id: 'map'
  }, ->
    markers = handler.addMarkers(#{raw @hash.to_json})
    handler.bounds.extendWith markers
    handler.fitMapToBounds()
    handler.getMap().setZoom 18
    return
